body {
  background: rgb(95,167,190);
  background-size: cover;
  }
  
  
  
  .box{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 30px;
  }
  .content {
    max-width: 250px;
    margin: auto;
    background-size: cover;
    background: rgb(95,167,190);
  }